a {
    color: rgb(0, 81, 255);
    text-decoration:black
    text-align: center;
}

body {
    text-align: center;
   background-color: rgba(111, 0, 255, 0.993);
}

h1 {
   text-align: center;
}

p{ 
    text-align: center;
    text-decoration: black;
}

head{
    text-align: center;
    background-color: rgba(111, 0, 255, 0.993);
    text-decoration: black;
}
