
*{
    margin: 0;
    padding: 25px;
}

body {
    text-align: center;
    background-color: var(--borda);
    font-size: 20px;
    color: var(--texto);
}

h1 {
   color: rgb(255, 0, 0);
   
}

p{ 
    text-align: center;
    text-decoration: rgb(0, 0, 0);
}

head{
    text-align: center;
    background-color: rgb(70, 132, 226);
    text-decoration: rgb(0, 0, 0);
}

b{
    padding: 0px;
}

:root {
    --primeira-cor:" #0073ff ";
    --segunda-cor: " #8E70CD " ;

    --borda: " #1FFFE9 ";

    --fundo: " #850505 ";
    --texto: " #528277 ";

}

